.btn-flex {
  display: flex;
}

.button2 {
  margin-left: auto;
}

/* sliders */

.toggletext {
  margin-left: 8px;
}

.switch {
  display: flex;
  --button-width: 1.7em;
  --button-height: 1em;
  --toggle-diameter: 0.7em;
  --button-toggle-offset: calc((var(--button-height) - var(--toggle-diameter)) / 2);
  --toggle-shadow-offset: 10px;
  --toggle-wider: 1.5em;
  --color-grey: #cccccc;
  --color-green: #4296f4;
 }
 
 .slider {
  display: inline-block;
  width: var(--button-width);
  height: var(--button-height);
  background-color: var(--color-grey);
  border-radius: calc(var(--button-height) / 2);
  position: relative;
  transition: 0.3s all ease-in-out;
 }
 
 .slider::after {
  content: "";
  display: inline-block;
  width: var(--toggle-diameter);
  height: var(--toggle-diameter);
  background-color: #fff;
  border-radius: calc(var(--toggle-diameter) / 2);
  position: absolute;
  top: var(--button-toggle-offset);
  transform: translateX(var(--button-toggle-offset));
  box-shadow: var(--toggle-shadow-offset) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
  transition: 0.3s all ease-in-out;
 }
 
 .switch input[type="checkbox"]:checked + .slider {
  background-color: var(--color-green);
 }
 
 .switch input[type="checkbox"]:checked + .slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-diameter) - var(--button-toggle-offset)));
  box-shadow: calc(var(--toggle-shadow-offset) * -1) 0 calc(var(--toggle-shadow-offset) * 4) rgba(0, 0, 0, 0.1);
 }
 
 .switch input[type="checkbox"] {
  display: none;
 }
 
 .switch input[type="checkbox"]:active + .slider::after {
  width: var(--toggle-wider);
 }
 
 .switch input[type="checkbox"]:checked:active + .slider::after {
  transform: translateX(calc(var(--button-width) - var(--toggle-wider) - var(--button-toggle-offset)));
 }
 

/* Add this CSS to style the settings button and slider */
#settingsBtn {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 9999;
  /* rmv btn stlye */
  background: none;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: -300px; /* Hide the slider initially */
  width: 250px;
  height: 100%;
  padding: 24px;
  padding-top: 60px;
  background: darkgray;
  border: 1px solid #ccc;
  transition: left 0.3s ease;
}

#settingsSlider.open {
  left: 0px; /* Slide the slider into view */
}


.placeholder-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://i.pinimg.com/originals/ab/a1/fe/aba1fe00d1d1204a4761ceac6af380e9.jpg'); /* Replace 'path_to_your_placeholder_image.jpg' with the actual path to your placeholder image */
  background-size: cover;
  z-index: -1; /* Ensure it's behind the video */
}

.bg {
  position: fixed;
  top: -10%;
  left: -10%;
  width: 120%;
  height: 120%;
  z-index: -2; /* Ensure it's behind other content */
  opacity: 0.5; /* Adjust the opacity to make it more or less visible */  
  pointer-events: none; /* Allow interaction with content above it */ 
}

.grid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
}

.random-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  z-index: -1;
}

/*  */

body {
  /* bgimg */
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  font-family: 'Roboto', sans-serif;
  display: flex;
  font-size: large;
  background-color: black;
}

.form-control {
  position: relative;
  margin: 20px 0 40px;
  width: 986px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px #fff solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: #fff;
}

.form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 24px;
  min-width: 5px;
  color: #fff;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,
.form-control input:valid+label span {
  color: lightblue;
  transform: translateY(-30px);
}

/*  */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  margin: auto;
  height: 10vh;
  color: white;
  font-size: 11vh;
  font-family: sans-serif;
  line-height: 10.2vh;
  display: flex;
  position: relative;
  /*background: green;*/
  overflow: hidden;
}

.clock::before, .clock::after {
  content: '';
  width: 3.5ch;
  height: 1.5vh;
  position: absolute;
  z-index: 2;
}

.clock::after {
  bottom: 0;
}

.clock > div {
  display: flex;
}

.tick {
  line-height: 8.5vh;
}

.tick-hidden {
  opacity: 0;
}

.move {
  animation: move linear 1s infinite;
}

@keyframes move {
  from {
    transform: translateY(0vh);
  }
  to {
    transform: translateY(-10vh);
  }
}


/*  */

.quicklinks {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  color: white;
  height: 24px;
  gap: 24px;
}

a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

.link {
  display: flex;
  justify-content: center;
  font-size: 12px;
  gap: 8px;
}

.linktext {
  font-size: 24px;
  height: 24px;
  line-height: 24px;
}

.quicklinks a:hover {
  text-decoration: underline;
}

/*  */

.timepercent {
  margin: auto;
  color: white;
  margin-top: 24px;
}

/*  */

.excuse {
  margin: auto;
  color: white;
  margin-top: 24px;
  text-align: center;
}

/*  */
.sr-only {
  display: none;
}

.ContributionCalendar-day {
  border-radius: 2px;
}

.calendar {
  border: none !important;
  height: 200px;
}

:root {
  --color-calendar-graph-day-bg: #ffffff30;
  --color-calendar-graph-day-L1-bg: #39dd34;
  --color-calendar-graph-day-L2-bg: #45a045;
  --color-calendar-graph-day-L3-bg: #047526;
  --color-calendar-graph-day-L4-bg: #0a4208;
}

.ContributionCalendar-day[data-level='0'] {
    background-color: var(--color-calendar-graph-day-bg);
}

.ContributionCalendar-day[data-level='1'] {
    background-color: var(--color-calendar-graph-day-L1-bg);
}

.ContributionCalendar-day[data-level='2'] {
    background-color: var(--color-calendar-graph-day-L2-bg);
}

.ContributionCalendar-day[data-level='3'] {
    background-color: var(--color-calendar-graph-day-L3-bg);
}

.ContributionCalendar-day[data-level='4'] {
    background-color: var(--color-calendar-graph-day-L4-bg);
}

table.ContributionCalendar-grid {
    margin-bottom: 0pt;
}

table.ContributionCalendar-grid td {
    padding: 4pt;
}

table.ContributionCalendar-grid td span.sr-only {
    display: none;
}

td.ContributionCalendar-label span[aria-hidden='true'] {
    display: none;
}

tool-tip {
    display: none;
}

.calendar .width-full > .float-left {
    display: none;
}

.calendar {
      font-family: Helvetica, arial;
      border: 1px solid #DDDDDD;
      border-radius: 3px;
      min-height: 243px;
      text-align: center;
      margin: 0 auto;
}

.calendar-graph text.wday,
.calendar-graph text.month {
  display: none;
}

div.px-md-5 {
   display: none;
}

div.float-right {
  display: none;
}

div.float-right div {
  display: none;
}

div.float-right span.sr-only {
    display: none;
}

.contrib-legend .legend li {
  display: none;
}

.text-small {
  display: none;
}

.calendar-graph {
  display: none;
}

.contrib-column {
  display: none;
}

.contrib-column-first {
  display: none;
}

.table-column {
  display: none;
}

.contrib-number {
  display: none;
}

.calendar img.spinner {
  display: none;
}

.monospace {
  display: none;
}

.monospace a {
  display: none;
}

.contrib-footer {
  display: none;
}

.left.text-muted {
  display: none;
}
.left.text-muted a {
  display: none;
}
.left.text-muted a:hover,
.monospace a:hover {
    text-decoration: underline;
}

h2.f4.text-normal.mb-3 {
    display: none;
}

.float-left.text-gray {
    float: left;
}
#user-activity-overview{
    display:none;
}

.day-tooltip {
  display: none;
}
.day-tooltip strong {
    color: #dfe2e5;
}
.day-tooltip.is-visible {
    display: block;
}
.day-tooltip:after {
  display: none;
}

text.ContributionCalendar-label {
  display: none;
}

@media screen and (max-width: 768px) {
    .table-column {
        display: block;
        width: 100%;
    }
}
